<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
     
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
     
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>NODE.js + ExpressJS + MongoDB </h3>
      <ul>
       Created by Mario Garcia
      </ul>
    </div>
    <div class="col-md-6">
      <h3> </h3>
      <ul>
         
        </ul>
      </ul>
      <h3> MongoDB is an open-source document database that provides high performance, high availability, and automatic scaling. MongoDB obviates the need for an Object Relational Mapping (ORM) to facilitate development. </h3>
      <ul>
       
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
  </div>
</div>


</body>
</html>
